<div class="container col-md-8 mt-5">
<input type="search" class="form-control" [(ngModel)]= "search">
<table class="table table-bordered">
    <thead class="text-white bg-dark">
        <tr>
            <td>Index</td>
            <td>Name</td>
            <td>E-Mail</td>
            <td>Phone Number</td>
            <td>Update</td>
            <td>Delete
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let user of firebaseService.users;index as i">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phno}}</td>
            <td>
                <button class="btn btn-outline-warning" (click)='updateUser(user)'>Update</button>
            </td>
            <td>
                <button class="btn btn-outline-danger" (click)='deleteUser(user)'>Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
