#password{
    margin-left: 40px;
}
#des{
    margin-left: 71px;
    margin-top:-31px;
    display: inline;
}
#add{
    display: inline-block;
    margin-right: 0px;
}
#username{
    margin-left: 28px;
}
#dob{
margin-bottom: 10px;
margin-right: 10px;
}
#date{
margin-left: 23px;
}
#mail{
    margin-left: 28px;
}