<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Assignment</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="sticky-onscroll" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/business">Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sports">Sports</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="/every">Others</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" routerLink="/users">Users</a>
                    </li>
                <li class="nav-item">
                        <a class="nav-link" routerLink="/firebase">Firebase</a>
                    </li>
    
                <li class="nav-item">
                    <select name="drop" id="opt">
                        <option class="" > Select</option>
                        <option value="usa" >
                            <a class="nav-link" routerLink="/us">
                            USA Headlines </a>
                        </option>
                        <option value="usa" >UK Headlines</option>
                        <option value="usa" >Japan Headlines</option>
                        <option value="usa" >France Headlines</option>
                    </select>
                </li>
     
        </ul>
    </div>
</nav>
