
<table class="table table-hover">
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Delete</th>
            <th>Complete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = 'let t of service.datas '>
            <td>{{t.task}}</td>
            <td><button type="button" class="btn btn-outline-success" (click)='deleteData(t.task_id)' >Delete</button></td>
            <td><button type="button" class="btn btn-outline-primary" (click)='updateData(t)' >Completed</button></td>
        </tr>
    </tbody>
</table>
